﻿<div class="card mt-4">
    <h4 class="card-header">Keycloak Demo</h4>
    <div class="card-body">
        <h6>User Management</h6>
        <button (click)="goToCreateUser()">Create User</button>
    </div>
</div>